.home-page{
    min-height: 100vh;
    display: flex;
}

.user-card{
    background-color: #f6f6f6;
    border: none;
    cursor: pointer;
}

.user-card:hover{
    background-color: #f5f8fd;
}

.user-card .ant-card-body{
    padding: 8px 12px;
}

.chat-list{
    cursor: pointer;
}

.chat-list .ant-list-item{
    padding: 0 16px;
    border: none;
}

.chat-list .ant-list-item-meta{
    padding: 12px 0;
    border-bottom: 1px solid #E4E4E4;
}

.chat-list .ant-list-item:last-child .ant-list-item-meta{
    border: none;
}

.chat-list .ant-list-item:hover, .chat-list .ant-list-item.active{
    background-color: #EFEFEF;
}

.chat-list .ant-list-item-meta-description{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.message {
    border-radius: 10px;
    padding: 6px 12px;
    background-color: #EFEFEF;
    word-wrap: break-word;
    width: 100%;
}

.message p{
    margin: 0
}